body {
    background-color: black;
    color:aliceblue;
    font-weight: bold;
}

h1 {
    color: red;
    text-align: center;
    font-style: italic;
}

h2 {
    color: rgb(101, 101, 241);
    text-align: center;
    font-style: italic;
}

.contenedor {
    text-align: center;
}

#item4 {
    color: greenyellow;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border-radius: 20px;
    padding: 10px;
    background-color: gold;
    color: black;
    font-weight: bold;
}

button:hover {
    background-color: white;
}