body {
    background-color: black;
    color:aliceblue;
    font-weight: bold;
}

h1 {
    color: red;
    text-align: center;
    font-style: italic;
}

h2 {
    color: rgb(101, 101, 241);
    text-align: center;
    font-style: italic;
}

.contenedor {
    text-align: center;
}