body {
    background-color:bisque;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

input {
    margin: 10px;
}

hr {
    border-color: red;
    margin: 10px;
}

ul {
    background-color: black;
    color: white;
}