body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    text-align: center;
    font-weight: bold;
    color: rgb(226, 129, 129);
}

/*
    A partir de aquí todo lo relacionado con el grid de la navegación
*/

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    background-color: rgb(235, 36, 22);
    border: solid;
    border-color:white;
    border-radius: 25px;
}

#menu ul a {
    display: block;
    color: rgb(240, 224, 224);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    padding: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: solid;
    border-color:white;
    border-radius: 25px;
}

#menu ul a:hover {
    color: rgb(235, 36, 22);
}

#menu ul a:active{
    color: black;
    background-color: rgb(13, 235, 13);
}

#menu ul li {
    position: relative;
    float: left;
    margin: 0px;
    padding: 0px;
}

#menu ul li:hover {
    background-color: white;
}

/* Menú desplegable */

#menu ul ul{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    color: black;
    padding: 0;
}

#menu ul ul li {
    float: none;
}

#menu ul ul a {
    line-height: 120%;
    padding: 25px 25px;
}

#menu ul li:hover > ul {
    display: block;
}

/*
    Aquí finaliza el grid de la navegación
*/

/*
    Aquí comenzaría el grid del index main
*/

.contenedorIndex {
    display: grid;
    justify-content: center;
    align-content: center;
    height: 600px;
    color: white;
    font-weight: bold;
    text-align: center;
}

#formulario {
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 25px;
    padding: 10px;
    background-color: cadetblue;
    border: solid 5px;
    border-radius: 15px;
}

input {
    padding: 15px;
    margin: 10px;
    border-radius: 15px;
}

input:hover, :focus {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

button{
    text-align: center;
    font-weight: bold;
    color: black;
    padding: 20px;
    margin: 20px;
    border: solid;
    border-radius: 15px;
}

button:hover{
    background-color: rgb(194, 111, 111);
    color: black;
}

button:active{
    background-color: aquamarine;
    color: green;
}

#parrafoindex {
    display: grid;
    justify-content: center;
    background-color: lightskyblue;
    color: blue;
    padding: 15px;
    border: solid;
    border-color:darkslateblue;
    border-radius: 15px;
}

#parrafoindex:hover {
    background-color: pink;
    color: purple;
}

#parrafoindex:active {
    background-color: aquamarine;
    color: green;
}

.pie {
    display: grid;
    color: black;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

#contacto {
    padding: 25px;
    background-color: cornflowerblue;
    border-color: red;
    border-radius: 15px;
    border: solid;
}

#contacto:hover {
    background-color: pink;
    color: purple;
}

#contacto:active {
    background-color: aquamarine;
    color: green;
}