body {
    background-color: darkseagreen;
    color: white;
    font-weight: bold;
}

h1 {
    text-align: center;
}

h2 {
    color: black;
}

button {
    background: rgb(195, 160, 228);
    color: purple;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    border-color: purple;
    width: 200px;
}

button:hover {
    cursor: pointer;
}